<div class="table-wrapper">
  <div class="table-title">
    Tus ventas de septiembre
  </div>
  <div class="table-container">
    <div class="table-header">
      <div>Transacción</div>
      <div>Fecha y hora</div>
      <div>Método de pago</div>
      <div>ID transacción Bold</div>
      <div>Monto</div>
    </div>
    <div class="table-row" *ngFor="let transaction of transactions">
      <div>
        <app-icon-text
          [iconClass]="transaction.icon"
          [text]="transaction.status"
        />
      </div>
      <div>{{ transaction.date }}</div>
      <div>
        <app-credit-card-display
          [cardNumber]="transaction.paymentMethod.number"
          [iconClass]="transaction.paymentMethod.icon"
        />
      </div>
      <div>{{ transaction.transactionId }}</div>
      <div>
        <span>{{ transaction.amount }}</span>
        <span *ngIf="transaction.deduction">({{ transaction.deduction }})</span>
      </div>
    </div>
  </div>
</div>