.table-wrapper {
  background-color: #FFFFFF;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.table-title {
  background: linear-gradient(90deg, rgba(17,30,108,1) 49%, rgba(239,67,78,1) 100%);
  color: white;
  padding: 10px 20px;
  font-size: 1.25rem;
  font-weight: bold;
}
.table-container {
  width: 100%;
  background: #ffffff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.table-header,
.table-row {
  display: grid;
  grid-template-columns: 2fr 2fr 1.5fr 2fr 1fr;
  padding: 10px;
  align-items: center;
  text-align: left;
}

.table-row.has-deduction{
  border-left: 5px solid #111e6c;
}

.table-row.no-deduction{
  border-left: 5px solid  #323232;
}


.table-header {
  background-color: white;
  border-bottom: 1px solid #dddddd;
  color: #323232;
}

.table-row {
  border-bottom: 1px solid #dddddd;
}

.table-row:last-child {
  border-bottom: none;
}

.table-row span {
  display: block;
}
