<div class="table-wrapper">
  <div class="table-title">
    Tus ventas de {{title}}
  </div>
  <div class="table-container">
    <div class="table-header">
      <div>Transacción</div>
      <div>Fecha y hora</div>
      <div>Método de pago</div>
      <div>ID transacción Bold</div>
      <div>Monto</div>
    </div>
    <div
      class="table-row"
      [class.has-deduction]="transaction.deduction"
      [class.no-deduction]="!transaction.deduction"
      *ngFor="let transaction of transactions"
    >
      <div>
        <app-icon-text
          [iconClass]="transaction.paymentType === 'dataphone' ? 'fas fa-solid fa-calculator' : 'fas fa-solid fa-link'"
          [text]="transaction.status"
          [deduction]="transaction.deduction"
        />
      </div>
      <div style="color: #969696;">
        {{ transaction.date }}
      </div>
      <div>
        <app-credit-card-display
          [cardNumber]="transaction.paymentMethod.number"
          [iconClass]="transaction.paymentMethod.icon"
        />
      </div>
      <div style="color: #969696;">
        {{ transaction.transactionId }}
      </div>
      <div>
        <app-amount-display
          [amount]="transaction.amount"
          [deduction]="transaction.deduction"
        />
      </div>
    </div>
  </div>
</div>