/* .card-container{
    margin-top: 80px;
    width: 320px;
    margin-left: 20px;
} */

.today-card {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

app-sales-summary-card {
  flex: 1;
}

app-button-group {
  flex: 2;
}
