.mt-80{
    margin-top: 80px;
}

.today-card {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, minmax(60px, auto));
  gap: 20px;
  align-items: start;
}

app-sales-summary-card {
  grid-column: 1;
  grid-row: 1 / span 4;
  height: 100%;
}

app-button-group {
  grid-column: 2 / span 3;
  grid-row: 1;
}

app-filter-toggle {
  grid-column: 4;
  grid-row: 2 ;
  height: 100%;
}

