.mt-80{
    margin-top: 80px;
}

.today-card {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.flex-direction-column {
  flex-direction: column;
  flex: 2;
}

app-sales-summary-card {
  flex: 1;
}

app-button-group {
  flex: 1;
}

app-filter-toggle {
  flex: 1;
}
