
:host {
  background-color: transparent;
  border-radius: 20px;
  border: 1px solid transparent;
  color: #111e6c;
  cursor: pointer;
  flex: 1;
  min-width: 100px;
  outline: none;
  padding: 10px 20px;
  text-align: center;
  transition: background-color 0.3s, color 0.3s;
}

:host(:active), {
  background-color: #111e6c;
  color: white;
  border: 1px solid #111e6c;
}
:host(:hover) {
  border: 1px solid #e5e7ef;
  background-color: #e5e7ef;
  font-weight: bold;
}


:host(:focus ){
  user-select: none;
}

