.amount-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.amount {
  color: #111e6c;
}

.deduction {
  color: #ef434e;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.boldColor {
  color: #969696;
}
