/* filter-toggle.component.css */
.filter-toggle-container {
  position: relative;
  display: flex;
}

.toggle-button {
    background-color: white;
    border-radius: 20px;
    border: 1px solid white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #111e6c;
    cursor: pointer;
    flex: 1;
    font-size: 16px;
    padding: 10px 30px;
    text-align: center;
    transition: background-color 0.3s, color 0.3s;
}

.toggle-button:hover {
    background-color: #f0f0f0; /* Slightly darker background on hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* More pronounced shadow on hover */
  }

.filter-options {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  gap: 10px;
  left: 0;
  padding: 10px;
  position: absolute;
  top: 100%; /* Position the dropdown right below the button */
  width: 100%; /* Make the dropdown the same width as the button */
}
