/* icon-text.component.css */
.icon-text-container {
  display: flex;
  align-items: center;
  color: #111e6c;
  justify-content: flex-start;
  min-height: 50px;
}

.icon-text-container i {
  margin-right: 8px;
}


